.home {
  margin-inline: auto;
  display: block;
  width: 100vw;
  height: 100vh;
}
.home h1 {
  position: relative;
  z-index: 10;
  pointer-events: none;
  color: oklch(47.77% 0.0208 81.25deg);
  font-family: "Playfair", serif;
  font-size: 7rem;
  line-height: 90%;
  padding-top: 25vh;
  text-align: center;
}
.home .creature {
  display: grid;
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: oklch(95% 0 0deg / 0.5);
  text-align: center;
  align-items: center;
}
.home .creature:hover {
  cursor: pointer;
  background-color: rgba(255, 115, 115, 0.5);
}
.home .creature#starling {
  width: 12vh;
}
.home .creature#sardine {
  width: 10vh;
}
.home .creature#grasshopper {
  width: 8vh;
}
.home .creature#ant {
  width: 5vh;
}
.home .creature#bat {
  width: 12vh;
}
.home .creature#sheep {
  width: 25vh;
}
.home .creature#penguin {
  width: 22vh;
}
.home .creature#bee {
  width: 8vh;
}
.home .creature#firefly {
  width: 6vh;
}
.home .creature#spiny_lobster {
  width: 12vh;
}
.home .creature#krill {
  width: 7vh;
}

.sim {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: none;
}