.main {
  margin-inline: auto;
}
.main > h1 {
  color: oklch(47.77% 0.0208 81.25deg);
  font-family: "Playfair", serif;
  font-size: 7rem;
  line-height: 90%;
  padding-top: 25vh;
  text-align: center;
}
.main > .creature {
  display: grid;
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: oklch(95% 0 0deg / 0.5);
  text-align: center;
  align-items: center;
}
.main > .creature:hover {
  cursor: pointer;
  background-color: red;
}
.main > .creature#starling {
  width: 12vh;
}
.main > .creature#sardine {
  width: 10vh;
}
.main > .creature#grasshopper {
  width: 8vh;
}
.main > .creature#ant {
  width: 5vh;
}
.main > .creature#bat {
  width: 12vh;
}
.main > .creature#sheep {
  width: 25vh;
}
.main > .creature#bee {
  width: 8vh;
}
.main > .creature#firefly {
  width: 6vh;
}
.main > .creature#spiny_lobster {
  width: 12vh;
}
.main > .creature#kirll {
  width: 3vh;
}

.sim {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}