.main {
  margin-inline: auto;

  & > h1 {
    color: oklch(0.4777 0.0208 81.25);
    font-family: "Playfair", serif;
    font-size: 7rem;
    line-height: 90%;
    padding-top: 25vh;

    text-align: center;
  }

  & > .creature {
    display: grid;
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: oklch(95% 0 0 / 0.5);
    text-align: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      background-color: red;
    }

    &#starling {
      width: 12vh;
    }

    &#sardine {
      width: 10vh;
    }

    &#grasshopper {
      width: 8vh;
    }

    &#ant {
      width: 5vh;
    }

    &#bat {
      width: 12vh;
    }

    &#sheep {
      width: 25vh;
    }

    &#bee {
      width: 8vh;
    }

    &#firefly {
      width: 6vh;
    }

    &#spiny_lobster {
      width: 12vh;
    }

    &#kirll {
      width: 3vh;
    }
  }
}

.sim {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
